<?php
return [
	'APP_NAME' => 'Default_App_Name',
	'APP_ENV' => 'production', // local / development / staging / production
	'APP_DEBUG' => false, // true / false
	'APP_URL' => 'https://localhost',
	'APP_TIMEZONE' => 'UTC',
	'APP_KEY' => '',

	'DB_HOST' => 'localhost',
	'DB_NAME' => 'test',
	'DB_USER' => 'root',
	'DB_PASS' => '',
	'DB_PREFIX' => '',
];